﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ClassToXml.aspx.cs" Inherits="Learning.Pages.ClassToXml" %>

<!DOCTYPE html>

<html lang="en" xml:lang="en">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            Test Git Lab
        </div>
    </form>
</body>
</html>
