﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="LoadImageFromURL.aspx.cs" Inherits="Learning.Pages.LoadImageFromURL" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:Image ID="Image1" runat="server" />
        </div>
    </form>
</body>
</html>
