﻿/*--Bootstrap Custom--*/

$green: #00FFC4;
$body-bg: #1A1B1D;

$primary: $green;
$font-family-sans-serif: 'Raleway', sans-serif;


body {

}

#hero {
    background: url('../../images/bg.jpg') no-repeat;
    background-size: cover;
    background-position: 0 60%;
}


.navbar {
    width:100% !important;
    background: none !important;

    @media(max-width:720px) {
        background-color: black !important;
    }

    .navbar-toggler {
        cursor: pointer;
        outline: 0;
    }

    .nav-link {
        text-transform: uppercase;
        font-weight: bold;

        @media(max-width:720px) {
            font-weight: normal;
            color: #fff !important;
        }
    }

    .nav-item {
        padding: 0 1rem;

        @media(max-width:720px) {
            padding: 0;
        }
    }
}

@import "../../bootstrap-4.4.1/scss/bootstrap";